//
// Document Settings Panel (Former Page Settings)
//

.embroidery-control {

	&.embroidery-control-clear_page {
		background-color: transparent;

		.embroidery-control-raw-html{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		button {
			width: 80px;
			height: 26px;
		}
	}
}
