.embroidery-control-type-section {
	margin-top: 10px;
	padding: 0;

	& + .embroidery-control {

		&:not(.embroidery-control-type-section) {
			padding-top: 15px;

			&:before {
				display: none;
			}
		}
	}
}